.datepicker.datepicker-inline {
	background-color: #fff;
	width: auto;
	padding: 7px;
	margin: 10px;
	font-size: 14px;
	color: #000;
}
.datepicker.datepicker-inline .table-condensed {
	width: 100%;
}
.datepicker.datepicker-inline .table-condensed tbody td {
	width: 20px;
	height: 20px;
}

table.fc-scrollgrid tbody {
	line-height: 0.7em;
}
.fc .fc-button {
	font-size: 0.8em;
}
.fc .fc-toolbar.fc-header-toolbar {
	margin-bottom: 0;
}
.fc-toolbar, .fc-toolbar.fc-header-toolbar {
	padding: /*0.2rem */0;
}
.fc .fc-toolbar-title {
	font-size: 1.0em;
}
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
	min-height: auto;
}
.fc-timegrid-slots {
	/*position: absolute !important;*/
	/*height: 100%;*/
}
.fc-timegrid-slots table {
	/*min-height: 100%;*/
}
.fc-timegrid-slot {
	height: 0.3em !important;
	border-bottom: 0 !important;
}
td.fc-daygrid-day {
	height: 50px !important;
}
.fc-scroller.fc-scroller-liquid-absolute {
	overflow: hidden !important;
}
.fc-event-time {
	color: #000;
}
.fc-event-title {
	color: #000 !important;
	font-weight: 600 !important;
}
.fc-event-title.fc-sticky {
	font-size: 12px;
}
.fc-timegrid-event .fc-event-time {
	margin-bottom: 0 !important;
}
.form-check.form-check-inline {
	line-height: 0.9em;
}
.event-close-btn {
	position: absolute;
	top: 0;
	right: -2px;
	padding: 0 5px;
	z-index: 9999;
	color: #000;
	font-weight: bold;
	font-size: 20px;
}
.fc-icons {
	float: left;
}
.material-icons {
	font-size: 14px !important;
	margin-right: 5px;
	cursor: default;
	color: green;
}
.material-icons:hover {
	color: darkorange;
}
.tooltip > .tooltip-inner {
	text-align: left;
	line-height: 1.0em;
	font-size: 13px;
	max-width: 350px;
	background-color: #fff;
	color: #000;
	border: 1px solid #777;
	padding: 8px 10px 0;
	box-shadow: 2px 2px 4px 0 rgba(161, 161, 161, 1);
}
.comment {
	padding-bottom: 4px;
}
.comment-sign {
	border-top: 1px solid #777;
	padding-top: 2px;
	padding-bottom: 10px;
	font-size: 11px;
	text-align: right;
}
.fa-edit, .fa-times-circle, .fa-trash-alt {
	cursor: pointer;
}
.fc-event-past {
	opacity: 0.6;
}
.calendars-wrapper {
	height: 92vh;
	overflow: auto;
}
.calendars-container {
	display: flex;
}
.calendar-container {
	width: 100%;
	min-width: 450px;
}
body {
	overflow: hidden;
}