.news-list ul{list-style:none;padding:0;}
.news-list ul li{margin-top:65px;}
.news-list ul li .img{transition:0.5s all;position:relative;}
.news-list ul li .img:after{content:'';width:100%;height:100%;position:absolute;left:80px;top:20px;background:url(../img/dots2.png) no-repeat;z-index:-1;}
.news-list ul li .img a{position:absolute;left:0;top:0;display:none;width:100%;height:100%;text-align:center;color:#fff;line-height:14;font-family:"GothamProMedium";background:rgba(255, 255, 255, 0);text-decoration:none;transition:0.5s all;}
.news-list ul li .img:hover a{display:block;}
.news-list ul li .img:hover a:hover{background:rgba(0, 0, 0, 0.6);}
.news-list ul li .img img{width:100%;}
.news-list ul li .item a{color:#4d4d51;font-size:18px;line-height:22px;letter-spacing:0.25px;margin-top:50px;display:block;font-family:"GothamProMedium";transition:0.5s all;text-decoration:none;}
.news-list ul li .item a h2{font-size:18px;margin-top:0;margin-bottom:0;font-weight:400;}
.news-list ul li .item a:hover{color:#FF8200;}
.news-list ul li .item p{display:block;color:#4d4d51;padding-top:11px;font-size:14px;}
.news-list ul li .item span{color:#4d4d51;font-size:12px;font-family:"GothamProMedium";}
.news-list .more{border:3px solid #FF8200;color:#FF8200;display:inline-block;font-family:"GothamProMedium";font-size:14px;letter-spacing:1px;margin-top:89px;padding:17px 25px;left:15px;text-transform:uppercase;vertical-align:top;text-decoration:none;}
.news-list .list{overflow:hidden;}
.sales-list:nth-child(2n) .col-md-6{
    float:right;
}